<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<img class="main-form " src="../../assets/star.jpg">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <li class="navbar-brand" style="color: oldlace">SkyWalker</li>
      <ul class="nav navbar-nav" style="height: 10px ">
        <li><a routerLink='edit-user' >My Cabinet</a></li>
        <li><a routerLink="/add-note">Add new note</a></li>
        <li><a routerLink='/list-user'>Users</a></li>
        <li><a routerLink="/notes">Notes  <i class="glyphicon glyphicon-search"></i></a></li>
      </ul>
      <ul class="navbar-right">
        <li><a  routerLink='/add-user' style="color: oldlace"><span class="glyphicon glyphicon-user"></span>To dark side</a></li>
        <li><a  routerLink='/login' style="color: oldlace"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
