
<br><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="col-md-7 user-container">
<div class="row">
  <h2 style="margin: initial"> Notes</h2>
  <form style="margin: auto" class="form-inline md-form form-sm mt-0">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-9 w-275" type="text" placeholder="Search" aria-label="Search">
  </form>
</div>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="card lol">
          <div class="box" >
            <div class="img">
              <img src="../../assets/vaid.jpg">
            </div>
            <h3>{{us.username}}</h3>
            <h2><span><a routerLink="/add-note" style="color: oldlace">Add new note</a> </span>
            <span><a routerLink="/edit-user" style="color: oldlace">Edit user</a> </span></h2>
            <div class="delo"><h5 class="ok">First name: </h5>{{us.firstName}}</div>
            <div class="delo"><h5 class="ok">Last name: </h5> {{us.lastName}}</div>
            <div class="delo"><h5 class="ok">Age: </h5>{{us.age}}</div>
            <div class="delo"><h5 class="ok">Salary:</h5> {{us.salary}}</div>
          </div>
        </div>
      </div>

      <div class="col-sm-7">
        <div class="card bg-dark text-white example2" *ngFor="let notes of notes">
         <img class="card-img-top example_beauty" src="../../assets/origi.jpg" alt="Card image cap">
          <span><h4>{{notes.tag}}</h4></span>
            <div class="card-body ">
               <h5 class="ok2">Number of speciality: </h5> {{notes.number}}
               <h5 class="ok2">Description: </h5>{{notes.description}}

            <div class="ass li" >
              <small class="text-muted">This note was written by {{notes.username2}}</small>
              <button routerLink="/notes/{{notes.id2}}" class="btn lol2"> Show more </button>
              <button class="btn lol3" (click)="deleteNotes(notes)"> Delete</button>
              <div>
          </div>
      </div>

      <div class="col-sm-1">
      </div>
    </div>
  </div>

</div>
</div>
